@-moz-document url-prefix("about:newtab") {
    html, body {
        background: transparent !important;
        scrollbar-width: none !important;
    }
    * {
        color-scheme: light-dark(light, dark) !important;
    }
    .wallpaper-attribution, .personalize-button, .personalizeButtonWrapper {
        display: none !important;
    }
}

html, body {
    background-color: light-dark(white, black);
}

@-moz-document domain("kagi.com") {
    html, body {
        background: light-dark(white, black) !important;
    }
}