/* Make sidebar drag  */
#sidebar-main {
  -moz-window-dragging: drag;
}

/* Main transparency */
:root {
  appearance: -moz-sidebar !important;
}

/* From GlassFox theme */
:root:not([windowtype="Toolkit:PictureInPicture"], [inDOMFullscreen]) {
  #browser {
    #sidebar-main,
    #tabbrowser-tabbox {
      #tabbrowser-tabpanels {
        background: transparent !important;
      }
    }
  }
  #navigator-toolbox {
    mix-blend-mode: screen;
    > * {
      background: inherit !important;
    }
  }
}

/* Disable shadow around page content */
#tabbrowser-tabbox {
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0px !important;
  border-top-right-radius: 10px !important;
}

/* Fancy vertical tab groups from here:https://gist.github.com/different55/637de23d0f0ce1884c123cceea481c93 */
/* Tab Group Tweaks™ */
@media -moz-pref("sidebar.verticalTabs") {
  /* Reduce vertical tab padding */
  .tabbrowser-tab:not([pinned]) {
    padding-block: 2px 2px !important;
  }
  /* Make tab spacing (more) consistent between un/collapsed groups and un/expanded tabs */
  /* TODO: Just like redo all of this and reuse as much existing CSS as possible to try and crush out these half pixels */
  /* For reference: tabs have an extra 6px of height on labels. 32 vs 26 */
  tab-group .tab-group-label-container {
    /* I have looked, I have absolutely no idea where this half pixel crept in */
    padding-block-end: calc(var(--space-small) + 1.5px) !important;
  }

  /* Tab Group Label color tweaks */
  /* Use brighter colors, widen the label border when expanded, add a box shadow */
  .tab-group-label {
    background-color: light-dark(
      var(--tab-group-color-invert),
      var(--tab-group-color)
    ) !important;
    color: light-dark(
      var(--tab-group-label-text-dark),
      var(--tab-group-color-pale)
    ) !important;

    outline: 2px solid
      light-dark(var(--tab-group-color), var(--tab-group-color-pale)) !important;
    outline-offset: -1px;

    /* This is just --box-shadow-level-1 but with a 1px spread to compensate for the outline only being partially offset */
    box-shadow:
      0 0 1px 1px var(--box-shadow-color-darker-layer-1),
      0 1px 2px 1px var(--box-shadow-color-darker-layer-2);

    tab-group[collapsed] & {
      outline: 1px solid
        light-dark(
          var(--tab-group-label-text-dark),
          var(--tab-group-color-pale)
        ) !important;
      box-shadow: none;
    }
  }

  /* Hide the tab group line for collapsed tab bars */
  #tabbrowser-tabs:not([expanded]) tab-group .tab-group-line {
    display: none !important;
  }

  /* Add background to grouped tabs */
  tab-group:not([collapsed])
    > :is(.tab-group-label-container, .tabbrowser-tab) {
    position: relative;
    overflow: visible !important;
    .tab-content {
      color: var(--tab-group-label-text-dark) !important;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      inset: 0;
      background: light-dark(
        var(--tab-group-color-invert),
        var(--tab-group-color)
      );
    }

    /* Add shadows to top and bottom of tab groups */
    &:first-child::before {
      box-shadow:
        inset 0px 34px 15px -30px var(--box-shadow-color-darker-layer-1),
        inset 0px 34px 15px -32px var(--box-shadow-color-darker-layer-2);
    }
    &:last-child::before {
      box-shadow:
        inset 0px -34px 15px -30px var(--box-shadow-color-darker-layer-1),
        inset 0px -34px 15px -32px var(--box-shadow-color-darker-layer-2);
    }

    /* Prevent backgrounds (and borders) from popping on top of tabs or labels, especially when dragged */
    z-index: 1;
    & .tab-group-label,
    &:first-child,
    &:last-child {
      z-index: 0;
    }

    --border-computed: 2px solid
      light-dark(var(--tab-group-color), var(--tab-group-color-pale));

    /* Add borders to top and bottom of groups */
    &:first-child::before {
      border-top: var(--border-computed);
    }
    &:last-child::before {
      border-bottom: var(--border-computed);
    }
    /* Side borders */
    &::before {
      border-left: var(--border-computed);
      border-right: var(--border-computed);
    }

    /* Hide original group label container's fake tab-group-line */
    &::after {
      content: unset !important;
    }
  }

  /* Shorten the tab group background so that it only covers half the label. */
  tab-group:not([collapsed]) .tab-group-label-container {
    /* TODO: Override for expanded tabs */
    --half-label-height: 12px;
    margin-block-start: calc(
      var(--space-small) + var(--half-label-height)
    ) !important;
    .tab-group-label {
      margin-block-start: calc(-1 * var(--half-label-height)) !important;
    }
    #tabbrowser-tabs[expanded] & .tab-group-label {
      margin-block-start: calc(-1 * var(--half-label-height) + 1px) !important;
    }
  }

  /* Add new background to dragged tabs that enter a group */
  #tabbrowser-tabs[movingtab]:not([movingtab-createGroup], [movingtab-ungroup])
    .tabbrowser-tab:is(:active, [multiselected]) {
    &::before {
      content: "";
      display: block;
      position: absolute;
      inset: 0;
      /* TODO: Check this on a dark theme */
      background: color-mix(
        in srgb,
        light-dark(
          var(--dragover-tab-group-color-invert),
          var(--dragover-tab-group-color-invert)
        ),
        transparent 25%
      ) !important;
    }
    .tab-content {
      color: var(--tab-group-label-text-dark) !important;
    }
  }
  /* Remove background from dragged tabs that leave their home group */
  #tabbrowser-tabs:is([movingtab-createGroup], [movingtab-ungroup])
    tab-group
    .tabbrowser-tab:is([selected], [multiselected]) {
    &::before {
      content: unset;
    }
    & .tab-group-line {
      display: none !important;
    }
  }
  /* Remove tab group line from collapsed tabs that are being dragged through a group */
  #tabbrowser-tabs[movingtab]:not(
      [movingtab-createGroup],
      [movingtab-ungroup],
      [expanded]
    )
    .tabbrowser-tab:is(:active, [multiselected])
    .tab-group-line {
    display: none;
  }

  /* Expanded tab exclusive tweaks */
  #tabbrowser-tabs[expanded] {
    /* Make tab group label wider when uncollapsed and connect it to the left */
    tab-group:not([collapsed]) .tab-group-label {
      /* The extra 2px is to push the 2px expanded border off screen instead of just meeting it */
      /* If the size boost is smaller than --space-large, it won't go off-screen. Remove those and the border-radius lines. */
      --SizeBoostTechnology: var(--space-large);
      padding-inline-start: calc(var(--SizeBoostTechnology) + 2px) !important;
      padding-inline-end: calc(var(--SizeBoostTechnology) + 2px) !important;
    }

    /* Round the bottom left corner of expanded tab groups */
    tab-group {
      --outer-padding: calc(var(--space-xsmall) + 1px);
      --inner-padding: calc(var(--space-small) - 1px);
      --tab-border-radius: var(--border-radius-medium);
      --group-border-radius: calc(
        var(--tab-border-radius) + (var(--inner-padding) / 2)
      );
    }
    &
      tab-group:not([collapsed])
      > :is(.tab-group-label-container, .tabbrowser-tab):last-child {
      &::before {
        border-end-start-radius: var(--group-border-radius) !important;
      }
      /* Make sure the original group line doesn't clip through our rounded corners */
      & .tab-group-line {
        display: none !important;
      }
    }

    /* Reduce left padding between tab groups and the edge of the browser, except when collapsed */
    &
      tab-group:not([collapsed])
      > :is(.tab-group-label-container, .tabbrowser-tab),
    &[movingtab][movingtab-addToGroup]:not(
        [movingtab-createGroup],
        [movingtab-ungroup]
      )
      .tabbrowser-tab:is(:active, [multiselected]) {
      margin-inline-start: var(--outer-padding) !important;
    }

    /* Reduce padding between tab groups and the tabs inside */
    tab-group {
      .tab-background {
        margin-inline-start: var(--inner-padding) !important;
      }
      .tab-content {
        padding-inline-start: calc(
          var(--tab-inline-padding) - var(--inner-padding) / 2
        ) !important;
      }
    }
  }

  /* Set tab label margins manually when tab bar is collapsed to prevent jumping around during animation */
  #tabbrowser-tabs[orient="vertical"]:not([expanded]) .tab-group-label {
    margin-inline: calc((var(--tab-collapsed-width) - 24px) / 2) !important;
  }
}
