@-moz-document url-prefix("about:newtab") {
    html, body {
        background: transparent !important;
        scrollbar-width: none !important;
    }
    *, .darkWallpaper {
        color-scheme: light !important;
    }
    .wallpaper-attribution, .personalize-button, .personalizeButtonWrapper {
        display: none !important;
    }
}

html, body {
    background-color: light-dark(white, black);
}